<% include ./partials/header.ejs %> 
<div class="editor">
  <div class="editorNav">
    <div class="openFile">
      <small><%= openFileName %></small>
      <a href="/"><i class="ri-close-fill"></i></a>
    </div>
    <button class="save" type="submit" form="saveData"><i class="ri-save-line"></i></button>

  </div>
  <div class="textArea">
    <form action="/save/<%= openFilePath %>" method="post" id="saveData">
      <textarea name="data"><%= fileData %></textarea>
    </form>
  </div>
</div>
<% include ./partials/footer.ejs %>